@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

   *{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "maven pro", "open sans"; sans-serif;
    text-decoration: none;
    list-style-type: none;
}
    header{
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    background: #16222A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
   
  .logo{
    height: 50%;
    float: left;
    width: 6em;
    height: 6em;
    margin-right: 1em;
  }
  .navbar,
  .navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .navbar{
        gap: 150px;
    }
    .navbar-list{
        gap: 30px;
    }

    .navbar-list a{
        text-decoration: none;
        color: white;
        font-weight: 500;
    }
    
    img { height: 50%;
        float: left;
        width: 6em;
        height: 6em;
        margin-right: 1em;
     }
    body{
        background: #16222A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* cuerpo de la pagina */

   .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
   }
    
   
 }

